/*main*/
/*catalog_main s*/
.categoryOnMain__container{
    margin: 15px 0;
    position: relative;
    display: block;
}
.categoryOnMain__container:hover{
    color: #0F0F0F;
    text-decoration: none;
}
.categoryOnMain__container img{
    width: 100%;
    object-fit: cover;
    max-height: 263px;
}
.mar19b{
    margin-bottom: 19px;
}
.catalog_on_main{
    margin-top: 96px;
}
.categoryOnMain__absolute{
    position: absolute;
    top: 18px;
    left: 38px;
}
.categoryOnMain__name{
    font-weight: 600;
    font-size: 22px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin-bottom: 30px;
}
.categoryOnMain__link{
    padding-right: 34px;
    position: relative;
    font-size: 16px;
    line-height: normal;
    color: #0F0F0F;
}
.categoryOnMain__link:hover{
    text-decoration: none;
    color: #6D8953;
}
.categoryOnMain__link::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 1px;
    background: #0F0F0F;
    top: 50%;
    right: 0;
}
.categoryOnMain__link:hover::before{
    background: #6D8953;
}
.categoryOnMain__link::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 1px;
    background: #0F0F0F;
    top: 9px;
    right: 0;
    transform: rotate(39deg);
}
.categoryOnMain__link:hover::after{
    background: #6D8953;
}
.categoryOnMain__name.f20{
    font-size: 20px;
    margin-bottom: 25px;
}
.catalog_on_main{
    position: relative;
}
/*catalog_main e*/
/*subscribe s*/
.greyBg{
    padding: 65px 0 72px;
    background: #F7F7F7;
    margin-top: 92px;
}
.formTitle{
    font-weight: 600;
    font-size: 32px;
    line-height: 113.7%;
    color: #0F0F0F;
}
.subscribe__Title{
    font-weight: 450;
    font-size: 25px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin: 18px 0 47px;
}
.subscribe input[type='email']{
    background: transparent;
    border: 0;
    padding-bottom: 25px;
    width: 350px;
    border-bottom: 1px solid #0F0F0F;
    font-size: 16px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin-right: 62px;
}
.subscribe input[type='email']::placeholder{
    opacity: 1;
    font-size: 16px;
    line-height: 113.7%;
    color: #0F0F0F;
}
.subscribe input[type='submit']{
    border-radius: 1000px;
    background: transparent;
    border: 2px solid #0F0F0F;
    color: #0F0F0F;
    font-weight: 450;
    font-size: 20px;
    padding: 22px 60px;
    cursor: pointer;
}
.subscribe input[type='submit']:hover{
    color: white;
    background: #6D8953;
    border: 2px solid transparent;
}
.subscribe p{
    margin-top: 36px;
    font-size: 16px;
    color: #0F0F0F;
    font-weight: 400;
}
.subscribe p .subscribe__pk{
    font-weight: 550;
    color: #0F0F0F;
}
/*subscribe e*/

/*review s*/
.homeH2{
    margin: 64px 0 33px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
    color: #0F0F0F;
}
.review__rating{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.review__reting__leftColunm{
    margin-right: 68px;
}
.review__rating__title{
    font-weight: 450;
    font-size: 25px;
    margin-bottom:20px;
    color: #0F0F0F;
}
.review__slider__container{
    max-width: 100%;
    margin-top: 45px;
}
.review__slide{
    margin: 15px;
}
.review__slide__container{
    position: relative;
    height: 214px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:15px 0;
}
.review__info{
    padding: 19px;
}
.review__name{
    font-weight: 450;
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
}
.review__link{
    font-weight: normal;
    font-size: 16px;
    line-height: 113.7%;
    color: white;
}
.review__link:hover{
    text-decoration: none;
    color: #6D8953;
}
.review__hidden{
    background: #EEEEEE;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;
    transform: translateY(-400%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.review__hidden::before{
    position: absolute;
    top: -10px;
    left: 25px;
    content: "“";
    color: #6D8953;
    font-size: 80px;
}
.review__hidden::after{
    position: absolute;
    bottom: -42px;
    right: 15px;
    content: "“";
    color: #6D8953;
    font-size: 80px;
}
.review__slide__container:hover .review__hidden{
    transform: none;
}
.review__text{
    width: 300px;
    height: 100px;
    overflow: auto;
    margin: 0;
    margin-left: 35px;
    font-size: 16px;
    line-height: 130.2%;
    color: #000000;
}
.review__text p{
    margin-bottom: 2px;
}
.arrowContainer{
    width: 370px;
    margin: 25px auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrowContainer .prev{
    position: relative;
    width: 29px;
    height: 29px;
    border-radius: 1000%;
    border: 1px solid #6D8953;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrowContainer .prev::before{
    content: '';
    width: 5px;
    height: 5px;
    border-top: 1px solid #6D8953;
    border-left: 1px solid #6D8953;
    transform: rotate(-45deg);
    margin-left: 2px;
}
.arrowContainer .next{
    position: relative;
    width: 29px;
    height: 29px;
    border-radius: 1000%;
    border: 1px solid #6D8953;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrowContainer .next::before{
    content: '';
    width: 5px;
    height: 5px;
    border-top: 1px solid #6D8953;
    border-right: 1px solid #6D8953;
    transform: rotate(45deg);
    margin-right: 2px;
}
.review__slider__container .slick-dots li button:before,.akcii__container .slick-dots li button:before{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 1000%;
    background: transparent;
    opacity: 1;
    border: 1px solid #6D8953;
}
.review__slider__container .slick-dots li.slick-active button:before,.akcii__container .slick-dots li.slick-active button:before{
    opacity: 1;
    background-color: #6D8953;
}
.review__slider__container .slick-dots{
    bottom: -61px;
}
/*review e*/
/*breadcrumbs s*/
.breadcrumbs{
    margin: 43px 0 41px;
}
.breadcrumbs ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
}
.breadcrumbs li{
    list-style-type: none;
    position: relative;
    padding-right: 25px;
}
.breadcrumbs li,.breadcrumbs a{
    color: #565656;
    font-size: 15px;
    line-height: 19px;
}
.breadcrumbs a:hover{
    color: #6D8953;
    text-decoration: none;
}
.breadcrumbs li:not(:last-child):after{
    content: '';
    width: 14px;
    height: 1px;
    background: #565656;
    position: absolute;
    top: 10px;
    right: 5px;
}
.breadcrumbs li:not(:last-child):before{
    content: '';
    width: 5px;
    height: 5px;
    border-top: 1px solid #565656;
    border-right: 1px solid #565656;
    transform: rotate(45deg);
    position: absolute;
    right: 5px;
    top: 8px;
}
.breadcrumbs li:last-child{
    font-family: 'Futura PT Book',sans-serif;
    font-weight: 600;
}
/*breadcrumbs e*/
/*footer s*/
footer{
    padding: 44px 0 65px;
    background: #6D8953;
    color: white;
    font-weight: 450;
    font-size: 15px;
}
footer a{
    color: white;
}
footer a:hover{
    text-decoration: underline;
    color: white;
}
.footer__title{
    font-weight: 450;
    font-size: 15px;
    margin-bottom: 32px;
    text-align: end;
}
.footer__menu{
    padding: 0;
    margin: 0;
}
.footer__menu li{
    list-style-type: none;
}
.footer__menu li:not(:last-child){
    margin-bottom: 5px;
}
.footer__firstBlook{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}
.footer__pk p,.footer__pk a:not(:last-child){
    margin: 0 0 6px 0;
}
.footer__pk p,.footer__pk a{
    font-size: 11px;
    display: block;
}
.footer__contact{
    margin-bottom: 24px;
    text-align: end;
}
.footer__contact a{
    display: block;
}
.footer_socLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer_socLink a{
    display: block;
    font-size: 12px;
    text-decoration: underline;
}
.footer_socLink a:hover{
    opacity: 0.8;
}
/*footer e*/
/*catalog s*/
.catalog__title{
    font-weight: 600;
    font-size: 32px;
    line-height: 113.7%;
    color: #0F0F0F;
}
.catalog__link{
    color: #0f0f0f;
}
.catalog__link:hover,.catalog__link:hover p{
    color: #6D8953;
    text-decoration: none;
}
.catalog__item img{
    width: 100%;
}
.catalog__item p{
    font-weight: 450;
    font-size: 20px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin: 15px 0 45px;
}
.catalog{
    margin-bottom: 50px;
}
/*catalog e*/
/*ready s*/
.ready__text{  
    font-size: 20px;
    line-height: 140.2%;
    color: #0F0F0F;
    margin-bottom: 58px;
}
.ready__filter__head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 113.7%;
    color: #3F3F3F;
    height: 100%;
    padding: 11px 0 13px;
}
.material .ready__filter__head{
    border: 1px solid #3F3F3F;
    margin-right: 30px;
}
.color .ready__filter__head{
    border: 1px solid #3F3F3F;
}
.ready__filter{
    position: relative;
}
.material{
    width: 255px;
}
.color{
    width: 191px;
}
.ready__filter__head::after{
    content: '';
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #3F3F3F;
    border-right: 1px solid #3F3F3F;
    transform: rotate(-45deg);
    margin-left: 39px;
    transition: all .7s;
}
.ready__filter__head.active::after{
    transform: rotate(45deg);
}
.ready__filter__overflow{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -111px;
    overflow: hidden;
    z-index: -100;
}
.ready__filter__head{
    cursor: pointer;
}
.ready__filter__overflow.active{
    z-index: 100;
}
.ready__filter__select__list.active{
    transform: none;
}
.ready__filter__select__list{
    transform: translateY(-300%);
    transition: all .7s;
    background: white;
    width: 100%;
    border: 1px solid #000000;
    cursor: pointer;
    border-width: 0 1px 1px 1px;
    padding: 25px 40px;
}
.ready__filter__select__list__item:hover,.ready__filter__select__list__item.select{
    color: #6D8953;
}
.ready__filter__select__list__item{
    font-size: 20px;
    line-height: 172.2%;
    color: #3F3F3F;
}
.ready__filter__select__list__item.sbrosmat,.ready__filter__select__list__item.sbroscol{
    margin-top: 24px;
    font-size: 18px;
    line-height: 113.7%;
    color: #606060;
}
.ready__filter__container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 65px;
}
.ready__ligth:hover{
    text-decoration: none;
    color: #6D8953;
}
.animate{
    opacity: 1;
    transition: all 0.7s;
}
.animate.hide{
    opacity: 0;
    flex:0 0 0%!important;
    width: 0%;
    max-width: 0%;
    padding: 0!important;
}
.animate p{
    font-size: 14px;
    line-height: 104.7%;
    color: #0F0F0F;
    margin-top: 18px;
    margin-bottom: 29px;
}
.animate p:hover{
    color: #6D8953;
}
.filter_row{
    min-height: 485px;
}
.hideText{
    flex: 0 0 0%;
    max-width: 0%;
    width: 0%;
    padding: 0;
    opacity: 0;
    transition: all .4s;
}
.hideText.active{
    max-width: 100%;
    flex:0 0 100%;
    width: 100%;
    padding: 0 15px;
    opacity: 1;
}
.ready__filter__select__list__item.hide{
    display: none;
}
.ready__filter__select__list.left{
    width: calc(100% - 30px);
}
.ready__goCatalog{
    display: block;
    max-width: max-content;
    margin: 56px auto 92px;
    padding: 23px 71px;
    color: white;
    background: #0F0F0F;
}
.ready__goCatalog:hover{
    color: white;
    background: #6D8953;
    text-decoration: none;
}
.ready__subscribe{
    margin-bottom: 86px;
}
.ready__ligth img{
    width: 100%;
}
/*ready e*/
/*detail*/
/*карточка товара*/
.short__info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 30px;
}
.param{
    color: #606060;
    font-size: 16px;
    font-weight: 400;
}
.param .harakteristika{
    font-weight: 600;
    color: #303030;
}
.wrapper__images{
    position: relative;
    display:flex;
    justify-content:flex-end;
}
.absolute{
    position: relative;
    top: 0;
    left: -90px;
    opacity:1;
}
.wrapper__images img.absolute{
    max-width: max-content;
}
.__desktop{
    display: none;
}
/* .loupe {
    background: rgba(0, 0, 0, 0.25) no-repeat;
    border-radius: 0 100% 100% 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
}
.loupe--active {
    opacity: 1;
} */
.__mobile{
    margin-bottom: 30px;
}
.__mobile img{    
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}

.linkToGotovye{
    font-weight: 450;
    font-size: 20px;
    line-height: 113.7%;
    color: #0F0F0F;
    display: block;
    margin: 27px 0 33px;
    max-width: max-content;
    border-bottom: 1px solid #0F0F0F;
    padding-bottom: 3px;
}
.linkToGotovye:hover{
    color: #6D8953;
    border-bottom: 1px solid #6D8953;
    text-decoration: none;
}
.title_har{
    font-weight: 450;
    font-size: 20px;
    line-height: 135.7%;
    color: #0F0F0F;
    margin-bottom: 7px;
}
.razvernyt__head{
    font-size: 16px;
    line-height: 153.2%;
    color: #424242;
    padding-bottom: 1px;
    border-bottom: 1px dashed #424242;
    max-width: max-content;
    cursor: pointer;
    margin-bottom: 20px;
}
.razvernyt__body{
    opacity: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
    overflow: hidden;
}
.razvernyt__body.active{
    opacity: 1;
    z-index: 100;
}
.razvernyt__container{
    transform: translateY(-300%);
    background: white;
    border: 1px solid #0F0F0F;
    transition: all .5s;
    padding: 15px;
}
.razvernyt__body.active .razvernyt__container{
    transform: none;
}
.coast__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.coast__symma{
    font-weight: 600;
    font-size: 28px;
    line-height: 113.7%;
    color: #46820F;
}
.coast__info{
    font-size: 16px;
    line-height: 164.7%;
    color: #626262;
}
.buttonBlock{
    display: flex;
    justify-content: space-between;
    margin: 39px 0 48px;
}
.addToCart{
    padding: 13px 42px;
    background: #232323;
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}
.addToCart:hover{
    background: #6D8953;
}
.zakazFree{
    padding: 13px 56px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #0F0F0F;
    border: 1px solid #0F0F0F;
    cursor: pointer;
}
.zakazFree:hover{
    border: 1px solid transparent;
    color: white;
    background: #6D8953;
}
.navsForFiltersSlider{
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}
.navForFiltersSlider{
    flex:1 1 0;
    text-align: center;
    border: 1px solid #0F0F0F;
    border-width: 1px 1px 1px 0;
    padding: 15px 17px;
    font-size: 22px;
    line-height: 113.7%;
    color: #0F0F0F;
    cursor: pointer;
}
.navForFiltersSlider.active,.navForFiltersSlider:hover{
    background: #6D8953;
    color: white;
    border: 1px solid #6D8953;
}
.navsForFiltersSlider .navForFiltersSlider:first-child{
    border-width: 1px;
}
.filter__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    min-height: 60px;
}
.filter__item{
    font-size: 20px;
    line-height: 142.7%;
    color: #000000;
    margin-right: 15px;
    cursor: pointer;
    padding-bottom: 1px;
    margin-bottom: 1px;
    max-height: 29px;
    transition: all .3s;
}
.filter__item.hide{
    margin-right: 0;
    width: 0;
    flex: 0 0 0;
    opacity: 0;
    position: relative;
    z-index: -10;
}
.filter__item:hover,.filter__item.select{
    border-bottom: 1px solid #6D8953;
    margin-bottom: 0;
}
.filter__slider{
    margin-bottom: 15px;
}
.product__list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
}
.product__list .slick-dots{
    display: flex;
    justify-content: center;
    width: calc(100% - 30px);
    left: 15px;
    flex-wrap: wrap;
}
.product__list .slick-dots li button:before{
    content: '';
    border-radius: 100%;
    border: 2px solid #6D8953;
    width: 8px;
    height: 8px;
    background: #6D8953;
    opacity: 1;
}
.detail__rigth img{
    width: 100%;
    object-fit: cover;
    margin: 15px 0;
}
.product__list .slick-dots li.slick-active button:before{
    background: transparent;
}
.product__item{
    /* width: calc((100%/6) - 30px); */
    margin: 15px;
    position: relative;
    transition: all .7s;
    cursor: pointer;
    z-index: 3;
}
.product__item img{
    width: 100%;
}
.product__item.hide{
    width: 0;
    flex: 0 0 0;
    margin: 0;
}
.onHoverDesc{
    display: none;
}
.sbrosMat,.sbrosColor,.sbrosCoast{
    color: #A0A0A0;
    font-size: 12px;
}
.sbrosMat:hover,.sbrosColor:hover,.sbrosCoast:hover{
    border-bottom: 0;
}
.srokIz{
    font-size: 20px;
    line-height: 135.7%;
    color: #0F0F0F;
    font-weight: 300;
    margin-top: 20px;
}
.count_iz{
    font-weight: 500;
}
.result__container{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-weight: 400;
    font-size: 20px;
    line-height: 135.7%;
    color: #0F0F0F;
    margin: 25px 0 45px;
}
.result{
    font-weight: 600;
    font-size: 28px;
    color: #0F0F0F;
    margin-left: 27px;
}
.relaited h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin: 50px 0 21px;
}
.relaited__link,.akcii__link{
    color: #0F0F0F;
}
.relaited__link:hover,.akcii__link:hover{
    text-decoration: none;
    color: #0F0F0F;
}
.relaited__name{
    font-weight: 600;
    font-size: 19px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin: 20px 0 30px;
}
.relaited__price{
    font-weight: 600;
    font-size: 19px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin-bottom: 17px;
}
.relaited__button{
    display: block;
    max-width: max-content;
    margin: 38px 0 40px;
    padding: 13px 36px;
    background: #6D8953;
    color: white;
    border: 1px solid transparent;
}
.relaited__button:hover{
    color: #0F0F0F;
    border: 1px solid #0F0F0F;
    text-decoration: none;
    background: transparent;
}
.akcii__name{
    font-weight: 600;
    font-size: 20px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin: 39px 0 10px;
}
.akcii__price{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 35px;
}
.price__old{
    font-size: 16px;
    line-height: 113.7%;
    color: #717171;
    text-decoration: line-through;
}
.price__new{
    font-weight: 600;
    font-size: 16px;
    line-height: 113.7%;
    color: #0F0F0F;
}
.akcii__button{
    display: block;
    max-width: max-content;
    padding: 13px 36px;
    font-size: 18px;
    line-height: 23px;
    color: #0F0F0F;
    border: 1px solid #0F0F0F;
    margin-top: 39px;
    margin-left: 15px;
}
.akcii__button:hover{
    color: white;
    text-decoration: none;
    background: #6D8953;
    border: 1px solid transparent;
}
.akcii__container{
    max-width: 100%;
}
.akcii__link{
    display: block;
    max-width: calc(100% - 30px);
    margin: 0 15px;
}
.akcii__container .arrowContainer{
    margin: 52px auto 0;
}
 .akcii__container .slick-dots{
     bottom: -84px;
 }
 /*contacts*/
 .contacts__info a,.contacts__info p{
    font-weight: 450;
    font-size: 20px;
    line-height: 193.7%;
    color: #303030;
    display: block;
 }
 .contacts__socLinks{
     display: flex;
     justify-content: flex-start;
 }
 .contacts__socLinks .facebook{
    background-image: url(../images/facebookC.png);
 }
.contacts__socLinks .vk{background-image: url(../images/vkC.png);}
.contacts__socLinks .insta{background-image: url(../images/instagramC.png);}
.contacts__title{
    margin: 30px 0 20px;
    font-weight: 600;
    font-size: 32px;
    line-height: 113.7%;
    color: #0F0F0F;
}
.contacts__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.contacts{
    margin-bottom: 101px;
}
.about__title{
    font-weight: 600;
    font-size: 32px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin: 30px 0;
}
.about__subtitle{
    font-weight: 450;
    font-size: 20px;
    line-height: 95.2%;
    color: #303030;
    margin-bottom: 25px;
}
.about__text,.about__text__withImage{
    font-size: 16px;
    line-height: 149.7%;
    color: #303030;
}
.about__text__withImage,.about__text__withImage2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.about__text__withImage2{
    margin-bottom: 14px;
}
.about__text__withImage p{
    margin-right: auto;
}
.about__text__withImage2 p{
    width: calc(70% - 15px);
    margin-right: auto;
}
.about__text__withImage img{
    margin-left: auto;
    object-fit: cover;
}
.about__text__withImage2 img{
    width: 102px;
    margin-left: auto;
    object-fit: contain;
}
.text__rigth{
    margin-top: 30px;
}
.about{
    margin-bottom: 85px;
}
.dostavka__title{
    font-weight: 600;
    font-size: 32px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin: 29px 0 34px;
}
.dostavka__subtitle{
    font-weight: 450;
    font-size: 28px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin-bottom: 33px;
}
.dostavka__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.dostavka__item{
    width: calc(50% - 30px);
}
.dostavka__h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin-bottom: 22px;
}
.dostavka__faq .card{
    border: 0;
}
.dostavka__faq .card .card-header{
    background: transparent;
    border: 0;
    border-bottom: 1px solid #303030;
    padding: 9px 10px 4px 0;
    position: relative;
}
.dostavka__faq .btn-link{
    font-weight: 450;
    font-size: 20px;
    line-height: 193.7%;
    color: #303030;
    padding: 0;
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dostavka__faq .btn-link::after{
    content: '+';
    font-weight: 300;
    font-size: 25px;
}
.dostavka__faq .btn-link.focus,.dostavka__faq .btn-link:focus,.dostavka__faq .btn-link:hover{
    text-decoration: none;
}
.dostavka__faq .card-body{
    padding: 9px 0 24px;
    font-size: 18px;
    line-height: 149.7%;
    color: #303030;
}
.oplata__pics{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.oplata__pics img{
    width:calc(50% - 30px) ;
    object-fit: contain;
}
.oplata__subtitle{
    font-weight: 450;
    font-size: 28px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin: 34px 0 14px;
}
.oplata__title{
    font-weight: 600;
    font-size: 32px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin-top: 29px;
}
.dostavka__h2{
    margin-top: 70px;
}
.faq{
    margin-bottom: 35px;
}
/*cart*/
.cart__pic{
    display: none;
}
.all__mobile{
    display: none;
}
.cart__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11px;
    margin-bottom: 41px;
}
.cart__head p{
    font-size: 15px;
    line-height: 113.7%;
    color: #0F0F0F;
}
.cart__container{
    margin-top: 48px;
    border-top: 1px solid #0F0F0F;
    border-bottom: 1px solid #0F0F0F;
    padding-bottom: 11px;
}
.cart__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 19px 0;
}
.cart__body .count{
    width: 31px;
    height: 31px;
    border-radius: 0;
    border: 1px solid #0F0F0F;
    text-align: center;
}
.delete{
    width: 10px;
    height: 10px;
    position: relative;
    cursor: pointer;
}
.delete::before{
    content: '';
    position: absolute;
    top: 5px;
    width: 10px;
    height: 1px;
    background: #0F0F0F;
    transform: rotate(45deg);
}
.delete::after{
    content: '';
    position: absolute;
    top: 5px;
    width: 10px;
    height: 1px;
    background: #0F0F0F;
    transform: rotate(-45deg);
}
.count__plus{
    cursor: pointer;
    margin-left: 23px;
}
.count__min{
    cursor: pointer;
    margin-right: 23px;
}
.cart__head .price{
    margin-left: 13px;
}
.cart__head .count{
    margin-left: 11px;
}
.cart__promo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 37px 0 49px;
}
.cart__promo .promo{
    padding: 13px 0;
    width: 222px;
    border-radius: 0;
    border: 1px solid #939393;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    color: #292929;
}
.cart__promo .promo::placeholder{
    opacity: 1;
    font-size: 18px;
    line-height: 23px;
    color: #292929;
}
.cart__promo .summ{
    font-family: 'Futura PT Book',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #292929;
}
.cart__promo .summ span{
    font-family: 'Futura PT',sans-serif;
    font-weight: 500;
    margin-left: 43px;
}
.cart__button{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}
.oform__zakaz{
    padding: 13px 38px;
    background: #232323;
    color: #FFFFFF;
    font-family: 'Futura PT Book',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}
.oform__zakaz:hover{
    background-color: #6D8953;
}
.toCatalog{
    display: block;
    max-width: max-content;
    padding: 13px 35px;
    background: transparent;
    border: 1px solid #232323;
    color: #232323;
    font-family: 'Futura PT Book',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin-left: 24px;
}
.toCatalog:hover{
    background: #6D8953;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
}
.clear{
    align-self: flex-end;
    font-family: 'Futura PT Book',sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #747474;
    margin-left: auto;
    max-width: max-content;
    text-align: end;
    cursor: pointer;
}
/*modal*/
#oform__zakaz .modal-dialog,#callback__modal .modal-dialog{
    max-width: 727px;
}
#oform__zakaz .modal-content{
    border-radius: 0;
    border: 0;
    padding: 55px 53px 78px;
    position: relative;
}
#callback__modal .modal-content{
    border-radius: 0;
    border: 0;
    padding: 55px 53px 0;
    position: relative;
}
#oform__zakaz .modal-title,#callback__modal .modal-title{
    text-align: center;
    font-weight: 450;
    font-size: 32px;
    line-height: 41px;
    color: #0F0F0F;
}
#oform__zakaz .close,#callback__modal .close,#offer__modal .close,#additional__modal .close{
    font-family: "Futura PT Book",sans-serif;
    position: absolute;
    top: 17px;
    right: 25px;
    color: #373737;
    font-weight: 400;
    font-size: 41px;
    opacity: 1;
}
#oform__zakaz .contact__block,#callback__modal .contact__block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#oform__zakaz .contact__block input,#callback__modal .contact__block input{
    width: calc(50% - 40px);
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #0F0F0F;
    padding-bottom: 8px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 23px;
    color: #747474;
}
#oform__zakaz .contact__block input::placeholder,#callback__modal .contact__block input::placeholder{
    font-size: 18px;
    line-height: 23px;
    color: #747474;
}
#oform__zakaz .some__variant{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #0F0F0F;
    margin: 49px 0 29px;
}
.some__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.some__list label{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}
.some__list input{
    display: none;
}
.some__list div{
    font-size: 18px;
    line-height: 23px;
    color: #0F0F0F;
}
.some__list label::before{
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border: 1px solid #0F0F0F;
    left: 0;
    top: calc(50% - 4px);
}
.some__list input[type="radio"]:checked + label::after{
    content: '';
    width: 7px;
    height: 3px;
    border-left: 1px solid #0F0F0F;
    border-bottom: 1px solid #0F0F0F;
    transform: rotate(-45deg);
    position: absolute;
    top: calc(50% - 2px);
    left: 1px;
}
#oform__zakaz .cart__row{
    margin-bottom: 0;
    padding-bottom: 17px;
    border-bottom: 1px solid #B4B4B4;
}
.cart__row p{
    margin-bottom: 0;
}
#oform__zakaz .cart__body{
    margin: 70px 0 40px;
}
#oform__zakaz .summ{
    font-weight: 600;
    font-size: 18px;
    color: #0F0F0F;
    width: 100%;
    text-align: end;
}
#oform__zakaz .summ span{
    margin-left: 43px;
}
.bottom__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 45px;
}
#pk{
    display: none;
}
#pk + label{
    padding-left: 41px;
    position: relative;
}
#pk + label::before{
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    left: 0;
    border: 1px solid #818181;
}
#pk:checked + label::after{
    content: '';
    width: 10px;
    height: 5px;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    transform: rotate(-45deg);
    position: absolute;
    left: 3px;
    top: calc(50% - 4px);
}
.bottom__row p{
    font-size: 14px;
    line-height: 18px;
    color: #747474;
    font-family: 'Futura PT Book',sans-serif;
    margin-bottom: 0;
}
.bottom__row p a{
    font-size: 14px;
    line-height: 18px;
    color: #3F3F3F;
    font-family: 'Futura PT',sans-serif;
}
.bottom__row input[type="submit"]{
    font-family: 'Futura PT Book',sans-serif;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 13px 28px;
    background: #232323;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}
.bottom__row input[type="submit"]:hover{
    background: #6D8953;
}
.bottom__colunm{
    margin-top: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottom__colunm input[type="submit"]{
    font-family: 'Futura PT Book',sans-serif;
    font-size: 18px;
    color: white;
    background: #232323;
    border: 0;
    border-radius: 0;
    padding: 13px 60px;
    cursor: pointer;
    margin-bottom: 22px;
}
.bottom__colunm input[type="submit"]:hover{
    background: #6D8953;
}
.bottom__colunm p{
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    color: #747474;
}
.bottom__colunm p a{
    color: #5A5A5A;
    font-family: 'Futura PT Demi',sans-serif;
    font-weight: 500;
}
#offer__modal .toCatalog{
    background: #232323;
    color: white;
    padding: 13px 64px;
    margin-left: 0;
}
#offer__modal .modal-dialog{
    max-width: 727px;
}
#offer__modal .modal-content{
    border: 0;
    border-radius: 0;
    position: relative;
    padding: 62px 46px 78px;
    background-image: url(../images/offer.png);
    background-repeat: no-repeat;
    background-position: right;
}
#offer__modal .modal-title{
    font-size: 28px;
    line-height: 125.7%;
    color: #0F0F0F;
    margin-bottom: 55px;
}
#additional__modal .modal-dialog{
    max-width: 920px;
}
#additional__modal .modal-content{
    border: 0;
    border-radius: 0;
    position: relative;
    padding: 50px 65px 72px;
}
#additional__modal .modal-title{
    font-size: 28px;
    line-height: 125.7%;
    color: #0F0F0F;
    margin-bottom: 49px;
    text-align: center;
}
#additional__modal .product__info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#additional__modal .product__name{
    font-weight: 450;
    font-size: 20px;
    line-height: 26px;
    color: #0F0F0F;
    margin-bottom: 22px;
}
.product__sostav,.product__color{
    display: inline-block;
    margin-right: 36px;
    font-family: 'Futura PT Book',sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #818181;
}
.product__sostav span,.product__color span{    
    color: #0F0F0F;
    font-family: 'Futura Pt',sans-serif;
}
.modal__subtitle{
    font-size: 32px;
    line-height: 41px;
    color: #0F0F0F;
    width: 100%;
    text-align: center;
    margin: 67px 0 39px;
}
.additional__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.additional__item{
    width: calc(25% - 30px);
    margin: 0 15px;
    position: relative;
}
.additional__name{
    font-weight: 450;
    font-size: 20px;
    line-height: 26px;
    color: #0F0F0F;
    margin-top: 32px;
    margin-bottom: 6px;
}
.additional__color{
    font-size: 16px;
    line-height: 21px;
    color: #818181;
    margin-bottom: 33px;
    font-family: 'Futura PT Book',sans-serif;
}
.additional__color span{
    color: #0F0F0F;
    font-family: 'Futura Pt',sans-serif;
}
.additional__link{
    display: block;
    padding: 10px 0;
    width: 100%;
    border: 1px solid #0F0F0F;
    color: #0F0F0F;
    text-align: center;
    margin-top: 33px;
}
.additional__price{
    font-weight: 600;
    font-size: 18px;
    line-height: 113.7%;
    color: #0F0F0F;
    margin-bottom: 64px;
}
.additional__link:hover{
    color: white;
    background: #6D8953;
    text-decoration: none;
    border: 1px solid transparent;
}
.additional__price__old{
    font-size: 16px;
    line-height: 113.7%;
    color: #717171;
    padding: 0 5px;
    text-decoration: line-through;
    margin-bottom: 12px;
}
.additional__price__old + .additional__price{
    margin-bottom: 0;
}
.additional__item.sale::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    right: 12px;
    background: url(../images/sale.png);
}
.additional__item img{
    width: 100%;
    height: 185px;
    object-fit: cover;
}
.bottom__button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.goCart{
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    background: #0F0F0F;
    padding: 12px 50px;
    display: block;
    max-width: max-content;
    margin-right: 67px;
}
.goCart:hover{
    background: #6D8953;
    color: white;
    text-decoration: none;
}
.сontinue_shop{
    font-size: 22px;
    line-height: 28px;
    color: #292929;
    padding: 12px 47px;
    border: 1px solid #000000;
    cursor: pointer;
}